# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
Node/Server/setenv.sh
Node/Server/tmp/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

Node/Server/node_modules/
Node/Client/node_modules/

build-resources/*
!build-resources/icon.png
!build-resources/icon.icns
!build-resources/If macOS says the app is damaged.txt
dist-electron/*

Node/Client/scratch
